

#uploadform-container{
  display: auto;
text-align: center;
width: 25%;
margin:auto;
}

#sellitem-button {
  margin-top: 20px;
}

#listed_item{
  width: 25%;
}

#listingcontainer{
  display: flex;
  width: auto;
  
}




/* dashboard css */
#dashboardName{
  text-align: right;
  margin-right: 150px;
}

#dataDisplay{
  border: 1px solid;
  margin-top: 80px !important;

  padding: 5px;
}

#dashboardBody{
  background-color: rgb(197, 197, 197);
  margin:0;
  height: 100vh;
  width: 100vw;
  padding: 0;
 
}


#display{
  background-color: #a8c573 ;
  position: relative;
  display: flex;
  width: auto;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 50px;
}

#imageSetting{
  display: flex;
  justify-content: center;
  height: 450px;
  width: auto;
  margin-bottom: 20px;
}

#detailTextContainer{
  text-align: center;
  width: auto;
}

#dashboardfooter{
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 100vw;
  margin-left: 0;
}



/* buyer profile */
#buyerProfilename{
  text-align: right;
  margin-right: 150px;
}


#buyerprofileBody{
  background-color: rgb(197, 197, 197);
}

#cartList{
  margin: auto;
  width:800px !important;
  text-align: center !important;
}

.targetHead{
  text-align: center;
}

#tittleCart{
  text-align: center;
}



/* seller dashboard */

#sellerdashboardBody{
  background-color: rgb(197, 197, 197);
  height: auto;
  

}

#listingTarget{
  
  text-align: center;
  margin-top: 50px;
}


#dataDisplay2{
  
  margin-top: 40px !important;
 
  padding: 5px;
}


#asd{
  margin-left: 10px;
  margin-right: 10px;
}

#displayContainer{
  
  height: auto;
  margin-left: 10px;
  margin-right: 10px;

  
}


#footerContainerseller{
position: relative;
margin-top: 373px;
margin-right: 0px;
}

#sellerboardfooter{
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 1519px;
  margin-left: 0;
}