#abc {
  color: red ;
}

#uploadform-container{
  display: auto;
text-align: center;
width: 25%;
margin:auto;
}

#sellitem-button {
  margin-top: 20px;
}

#listed_item{
  width: 25%;
}

#listingcontainer{
  display: flex;
  width: auto;
  
}
